<body>
  <div class="container">
    <!-- Content -->
    <!-- Header -->
    <a
      href="https://www.singularity.events"
      target="_blank"
      class="container-item header"
    >
      <img class="header-logo" src="/Images/singularity-logo-primary-1x2.png" />
      <div>SINGULARITY</div>
    </a>
    <hr class="hr" />
    <div class="sub-header">
      Your all in one platform for for organizing Events, tournaments & scrims
      for Apex Legends
    </div>
    <div class="container-content">
      <div class="description">
        <!-- Description -->
        <div class="description-header">Email verified successfully!</div>
        <br />
        <p class="description-main-content">
          Your Email has been successfully verified. You will be automatically
          redirected to Singularity in <span id="counter">3</span> second/s.
          Sign-in and enjoy all it's features..

          <br />
          <br />
          <span class="no-redirect-note"
            >If you don't get redirected automatically, please click the button
            below.</span
          >
        </p>
        <br />
      </div>
      <!-- Call to action -->
      <a
        class="activate-btn"
        href="http://www.singularity.events/join"
        target="_blank"
        rel="noopener noreferrer"
      >
        <span>Go to Singularity</span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="activate-btn-icon"
          viewBox="0 0 20 20"
          fill="currentColor"
        >
          <path
            fill-rule="evenodd"
            d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
            clip-rule="evenodd"
          />
        </svg>
      </a>
      <br />
      <br />
      <br />

      <!-- Footer -->
      <div class="footer">
        <!-- note -->
        <p>
          Thank you for using
          <span style="font-weight: 600">Singularity</span>. Visit
          <a href="https://www.singularity.events" class="note"
            >Singularity.events</a
          >
        </p>
        <br />
        <span>
          Copyright © 2021 -
          <a
            class="opaquelabs"
            target="_blank"
            href="https://www.meshu-web.dev/"
          >
            meshu-web.dev
          </a>
          - All rights reserved
        </span>
      </div>
    </div>
  </div>
</body>

@media (min-width: 1900px) { .container { /* padding: 1rem 10rem 1rem 10rem; */
} } @media (min-width: 1200px) { .footer > p { font-size: 13px; } .description >
p { font-size: 18px; } .header-logo { width: 60px; height: 60px; } .sub-header {
font-size: 0.85rem; } .container { /* padding: 1rem 10rem 1rem 10rem; */ } }
@media (max-width: 750px) { .container { /* padding: 1rem 8rem 1rem 8rem; */ } }
@media (max-width: 570px) { .container { /* padding: 1rem 5rem 1rem 5rem; */ } }
@media (max-width: 500px) { .container { /* padding: 1rem 4rem 1rem 4rem; */ }
.header { font-size: 2rem; } .header-subtitle { right: -40px; } .header-logo {
width: 30px; height: 30px; } } @media (max-width: 450px) { .description p {
font-size: 0.85rem; } .activate-btn { padding: 4px 10px; } .activate-btn span {
font-size: 0.9rem; } .activate-btn-icon { width: 24px; height: 24px; }
.container { /* padding: 1rem 2rem 1rem 2rem; */ } .header { font-size: 1.75rem;
} .header div { margin: 0px 10px; } .header-subtitle { right: -45px; }
.header-logo { width: 30px; height: 30px; } }
